* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* class one */

.one img {
    height: 44rem;
    width: 100%;
    opacity: 0.95;
}

.harsh{
    position: absolute;
    top: -200px;
    left: 35rem;
}

.harsh:hover{
    animation: rotate 1s linear;
    transition: 0.3s;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.two {
    position: absolute;
    top: 15rem;
    left: 1rem;
}

.two h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-size: 2rem;
}

.two p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
    color: white;
    margin-left: 5px;
    line-height: 60px;
}

.first {
    height: 70px;
    width: 110px;
    margin: 30px 30px 30px 110px;
    border: 2px solid #DC0000;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.first:hover {
    background-color: #fff;
    border: 2px solid black;
}

.first h2 {
    margin: 1.25rem 1.2rem 1rem 1rem;
    color: #DC0000;
    font-family: 'Merriweather', serif;
    font-size: 22px;
    margin-bottom: 10px;
}

.two button {
    padding: 12px 22px;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    font-size: 1.5rem;
    margin-left: 5.2rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.two button:hover {
    background-color: #DC0000;
    transition: 0.4s;
}

/* class three */

.three {
    width: 100%;
    height: 30rem;
    background-color: #222222;
    padding-top: 6rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -4px;
}

.three h1 {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

.grp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.a {

    color: #fff;
    padding: 10px;
    margin: 10px;
    flex: 1;

}

.b {

    color: #fff;
    padding: 10px;
    margin: 10px;
    flex: 1;
}

.c {
    color: #fff;
    padding: 10px;
    margin: 10px;
    flex: 1;
}

.fa-solid {
    color: #FF7D7D;
    border-radius: 50%;
    border: 3px solid white;
    padding: 15px;
    margin-bottom: 2rem;
}

.a,
.b,
.c h2,
p {
    text-align: center;
    line-height: 22px;
}

/* class four */

.four {
    height: 100%;
    width: 100%;
    background-color: #000;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.info h1 {
    padding: 8rem 0 0 4rem;
    font-size: 2rem;
}

.info_p2 {
    padding: 0 0 0 4rem;
    text-align: left;
}

.four .info_p1 {
    padding: 0 0 0 4rem;
    text-align: left;
    font-size: 1.5rem;
    color: #FF7D7D;
}

.info2 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5rem;
}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;

}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    background-color: #e91e63;
    animation: html 1s linear forwards;
}

.css {
    background-color: #89C4E1;
    animation: css 1s linear forwards;
}

.js {
    background-color: #D0B8A8;
    animation: js 1s linear forwards;
}

.react {
    background-color: #495579;
    animation: react 1s linear forwards;
}

.html span {
    border: 1px solid #e91e63;
}

.css span {
    border: 1px solid #89C4E1;
}

.js span {
    border: 1px solid #D0B8A8;
}

.react span {
    border: 1px solid #495579;
}

@keyframes html {
    100% {
        width: 86%;
    }
}

@keyframes css {
    100% {
        width: 74%;
    }
}

@keyframes js {
    100% {
        width: 65%;
    }
}

@keyframes react {
    100% {
        width: 50%;
    }
}

/* class five */

.five {
    background-color: #222222;
    padding-bottom: 45rem;
    font-family: 'Josefin Sans', sans-serif;
}

.five h1{
    color: white;
    text-align: center;
    padding: 5rem;
}

.container{
    overflow: hidden;
}

.container .image1,.image2,.image3,.image3,.image4,.image5{
    transition: 2s;
}

.container:hover .image1{
    transform: scale(1.05);
}

.container:hover .image2{
    transform: scale(1.05);
}

.container:hover .image3{
    transform: scale(1.05);
}

.container:hover .image4{
    transform: scale(1.05);
}

.container:hover .image5{
    transform: scale(1.05);
}

.image1 {
    position: absolute;
    top: 115rem;
    left: 15rem;
    height: 250px;
    width: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image2 {
    position: absolute;
    top: 115rem;
    left: 38rem;
    height: 250px;
    width: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image3 {
    position: absolute;
    top: 115rem;
    left: 61rem;
    height: 250px;
    width: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image4{
    position: absolute;
    top: 135rem;
    left: 17rem;
    border-radius: 15px;
    height: 300px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.image5{
    position: absolute;
    top: 135rem;
    left: 49rem;
    height: 300px;
    width: 450px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* class six */

.six{
    height: 100%;
    width: 100%;
    background-color: #000;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
}

.con1{
    color: #fff;
}

.contact{
    padding-top: 100px;
    padding-bottom: 50px;
}

.name{
    padding: 12px 250px 12px 5px;
    background-color: #000;
    color: grey;
    border: 1px solid #fff;
    margin-top: 7rem;
    margin-bottom: 0.2rem;
}

.email{
    padding: 12px 250px 12px 5px;
    background-color: #000;
    color: grey;
    border: 1px solid #fff;
    margin-bottom: 0.2rem;
}

#mes{
    padding: 12px 0 12px 5px;
    background-color: #000;
    color: grey;
    border: 1px solid #fff;
}

.send{
    padding: 12px 178px 12px 178px;
    text-align: center;
    color: #fff;
    background-color: #e91e63;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.send:hover{
    background-color: white;
    color: #e91e63;
}

/* footer */

.footer{
    color: white;
    background-color: #000;
    padding-top: 3rem;
}

.anc{
    color: rgb(108, 108, 183);
}

.fa-facebook{
    margin-left: 45rem;
}

.fa-brands{
    color: #fff;
    padding: 5px;
}